# Compiled Object files
*.slo
*.lo
*.o
*.obj
# Precompiled Headers
*.gch
*.pch
# Compiled Dynamic libraries
*.so
*.dylib
*.dll
# Fortran module files
*.mod
# Compiled Static libraries
*.lai
*.la
*.a
*.lib
# Executables
*.exe
*.out
*.app
# Temporaty files
*~
## generic files to ignore
*.lock
*.DS_Store
*.swp
*.out

## What you get when you copy ipopt into this folder
.idea/
.coin-or/
tutorial/
cmake-build-*/
contrib/
examples/
doc/
src/
test/
.gitattributes
.travis.yml
/appveyor.yml
/AUTHORS
/ChangeLog
/compile
/config.guess
/config.sub
/configure
/configure.ac
/depcomp
/install-sh
/ipopt.pc.in
/ltmain.sh
/Makefile.am
/Makefile.in
/missing
